#home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    flex-grow: 1;
    max-width: 100%;
    max-height: auto;
    border-radius: inherit;
}

#home-title-container{
    margin: 25px;
    margin-bottom: 0px;
    max-width: 100%;
    max-height: auto;
    text-align: center;
}

#applicaton-title a{
    margin: 0px;
    font-size: 4rem;
    font-weight: normal;
    font-family: 'Shrikhand', cursive;
}