{% extends "fixed-content.html" %}
{% block content %}
<div id="orders-container" class="top-container">
    {% for order,contents in all_orders.items %}
        <div class="order-container">
            {% include "orders/order.html" %}
            {% if request.user.sasapay_vendor or request.user.external_vendor %}
                <div id="order-buttons-container">
                    <button id="deliver-order-button" class="all-buttons">
                        <a href="{% url 'vendors:deliver-order' order.id %}">
                            Deliver Order
                        </a>
                    </button>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <div class="empty-container">
            <p>
                {% if request.user.sasapay_vendor or request.user.external_vendor %}
                    There are no customer orders.
                {% else %}
                    You have not placed any orders.
                {% endif %}
            </p>
        </div>
    {% endfor %}
    <div id="orders-buttons-container">
        <button id="back-button" class="all-buttons">
            {% if request.user.sasapay_vendor or request.user.external_vendor %}
                <a href="{% url 'products:my-shop' %}">
                    Back
                </a>
            {% else %}
                <a href="{% url 'products:products' %}">
                    Back
                </a>
            {% endif %}
        </button>
    </div>
</div>
{% endblock %}