/* #purchase-product-details-container,
#purchase-product-details,
#purchase-product-name,
#purchase-product-details-groups,
#purchase-product-details-form,
#purchase-product-contents-container,
#purchase-product-contents-name,
#purchase-product-contents,
#purchase-product-content-container,
#purchase-product-prices-container,
#purchase-product-prices-name,
#purchase-product-prices,
#purchase-product-price-container
#purchase-product-details-buttons-container,
#purchase-product-button,
#purchase-product-back-button{
    padding: 5px;
    border: 1px solid black;
} */

#purchase-product-details-container{
    margin: 25px;
    margin-bottom: 0px;
    border-radius: 20px;
    border: 1px solid black;
}

#purchase-product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#purchase-product-details h1{
    display: inline-block;
}

#purchase-product-name{
    width: 100%;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#purchase-product-details-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#purchase-product-details-groups{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#purchase-product-contents-container,
#purchase-product-prices-container{
    width: 50%;
    padding: 5px;
    border-top: 1px solid black;
}

#purchase-product-contents-container{
    border-right: 1px solid black;
}

#purchase-product-prices-container{
    border-left: 1px solid black;
}

#purchase-product-prices,
#purchase-product-contents{
    overflow: auto;
    max-height: 200px;
    border-top: 1px solid black;
}

#purchase-product-details-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#purchase-product-button,
#purchase-product-back-button{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    max-width: 100%;
    max-height: auto;   
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--body-background-color);
}

@media screen and not (min-width:600px){
    #purchase-product-details-container{
        margin: 15px;
    }

    #purchase-product-details-groups{
        flex-direction: column;
    }
    
    #purchase-product-contents-container,
    #purchase-product-prices-container{
        width: 100%;
        border: none;
        border-top: 1px solid black;
    }
}

@media screen and not (min-width:550px){
    #purchase-product-details-buttons-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #purchase-product-button{
        margin-bottom: 10px;
    }

    #purchase-product-button,
    #purchase-product-back-button{
        width: 100%;
    }
}