/* #products-catalogue-container,
#search-bar-container,
#catalogue-container,
#catalogue-product,
#display-product-name,
#empty-catalogue{
    border: 1px solid black;
    padding: 5px;
} */

#products-catalogue-container{
    margin: 25px;
}

#search-bar-container{
    display: flex;
    flex-direction: column;
    margin: 20px 25px 5px 25px;
}

#catalogue-container{
    display: flex;
    flex-direction: column;
}

#catalogue-product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 150px;
    margin-bottom: 25px;
    border-radius: 20px;
    border: 1px solid var(--outer-gradient-color);
    box-sizing: border-box;
}

#display-product-name{
    border: 1px solid var(--outer-gradient-color);
    box-sizing: border-box;
    height: 25px;
    border-radius: 0px 0px 20px 20px;
    background-image: var(--bright-color);
}