/* #my-shop-container,
#add-product-container,
#product-container,
#product-details-container,
#product-name,
#product-details-buttons-container,
#product-groups-container,
#product-groups,
#product-contents-container,
#product-contents-name,
#product-contents,
#product-content-container,
#product-prices-container,
#product-prices-name,
#product-prices,
#product-price-container,
#product-groups-buttons-container{
    padding: 5px;
    border: 1px solid black;
} */

#my-shop-container{
    margin: 10px 25px;
}

#add-product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 25px 5px 25px;
}

#add-product-button{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#product-container{
    height: 390px;
    border-radius: 20px;
    border: 1px solid var(--outer-gradient-color);
}

#product-details-container{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#product-name{
    display: inline-block;
    height: 50%;
    width: 100%;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--outer-gradient-color); 
}

#product-details-buttons-container{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-top: 1px solid black;
}

#edit-product-button,
#delete-product-button{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    background-color: white;
    border-color: var(--outer-gradient-color);
}

#product-groups-container{
    height: 80%;
    display: flex;
    flex-direction: column;
}

#product-groups{
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#product-contents-container,
#product-prices-container{
    width: 50%;
    height: 100%;
    padding: 5px;
    border-top: 1px solid black;
}

#product-contents-container{
    border-right: 1px solid black;
}

#product-contents-name,
#product-prices-name{
    height: 12%;
}

#product-prices,
#product-contents{
    overflow: auto;
    height: 88%;
    border-top: 1px solid black;
}

#product-groups-buttons-container{
    height: 15%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#edit-product-group-button,
#delete-product-group-button{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    background-color: white;
    border-color: var(--outer-gradient-color);
}

@media screen and (max-width: 600px){
    #add-product-container{
        margin-top: 20px !important;
        margin-bottom: 5px !important;
    }
    
    #my-shop-container{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 500px){
    #add-product-container{
        flex-direction: column;
    }
    
    #add-product-button,
    #add-product-container .search-query{
        width: 100%;
    }

    #add-product-container .search-query{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 400px){
    #product-details-container{
        height: 25%;
    }

    #product-name{
        height: 50%;
    }
    
    #product-details-buttons-container{
        height: 50%;
    }

    #product-groups-container{
        height: 75%;
    }

    #product-groups{
        height: 85%;
        flex-direction: column;
    }

    #product-contents-container,
    #product-prices-container{
        width: 100%;
    }

    #product-contents-container{
        height: 70%;
        border-right: none;
    }

    #product-contents-name{
        height: 20%;
    }
    
    #product-contents{
        height: 80%;
    }

    #product-prices-container{
        height: 30%;
    }

    #product-prices-name{
        height: 45%;
    }

    #product-prices{
        height: 55%;
    }

    #product-groups-buttons-container{
        height: 15%;
    }
}

@media screen and (max-width: 300px){
    #edit-product-button,
    #delete-product-button,
    #edit-product-group-button,
    #delete-product-group-button{
        width: 80px;
    }
}