@import "home/home_content.css";
@import "general/general_content.css";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Rubik+Glitch&display=swap');

:root{
    --no-white-color: #DFDFDF;
    --body-background-color: #1a1a1a;
    --main-background-color: #373737;
    --inner-gradient-color:#53efad;
    --outer-gradient-color:#53e4ad;
    --bright-color: linear-gradient(to bottom right,
        var(--inner-gradient-color),var(--outer-gradient-color)
    );
}

*:not(.exclude-format){
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Sriracha', cursive;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--body-background-color);
}

#main-container{
    --main-width: 700px;
    --main-height: 525px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    border-radius: 20px;
    width: var(--main-width);
    height: var(--main-height);
    background-color: var(--main-background-color);
}

a{
    color: black;
    text-decoration: none;
}

h1,h2{
    margin: 0px;
}

hr{
    margin-top: 0px;
    border: none;
    border-top: 1px solid black;
}

input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"]{
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"]{
    accent-color: var(--outer-gradient-color);
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="numeric"],
input[type="search"]{
    border-color: transparent;
    background-color: var(--no-white-color);
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="numeric"]:focus,
input[type="search"]:focus{
    outline: none;
}

.search-query{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 200px;
    max-height: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.all-buttons{
    border: 1px solid var(--outer-gradient-color);
    background-image: var(--bright-color);
}

.empty-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 25px;
    border: 1px solid var(--outer-gradient-color);
}

.empty-container p{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    max-width: 100%;
    max-height: auto;
}

.entry-container{
    display: flex;
    flex-direction: row;
}

.entry-label{
    display: inline-block;
    width: 30%;
    font-weight: bold;
    margin-right: 5px;
}

.entry-value{
    width: 70%;
}

.item-container{
    display: flex;
    flex-direction: row;
}

.input-container,
.label-container{
    display: inline-block;
}

.order-container{
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid var(--outer-gradient-color);
}

@media screen and (min-width:1707px){
    #main-container{
        display: none;
    }
}

@media screen and (max-width: 1100px){
    #main-container{
        margin-top: 0px;
    }
}

@media screen and (max-width: 650px){
    .entry-container{
        display: flex;
        flex-direction: column;
    }
    
    .entry-label{
        width: 100%;
    }
    
    .entry-value{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    #main-container{
        width: 100%;
        margin-top: 0px;
    }
}

/* @media screen and (max-width: 450px){
    .empty-container{
        padding: 2px 0px 2px 0px;
    }
    .empty-container p{
        font-size: 14px;
    }
} */