@import "home/home_content.css";
@import "general/general_content.css";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Rubik+Glitch&display=swap');

:root{
    --body-background-color: #e0e0e0;
    /* #508762; */
    --main-background-color: #ffffff;
    /* #155F2E; */
    --buttons-background-color: #ffffff;
    /* #5F1546; */
}

*:not(.exclude-format){
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Sriracha', cursive;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--body-background-color);
}

#main-container{
    --main-width: 700px;
    --main-height: 525px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    border-radius: 20px;
    width: var(--main-width);
    height: var(--main-height);
    background-color: var(--main-background-color);
}

a{
    color: black;
    text-decoration: none;
}

h1,h2{
    margin: 0px;
}

hr{
    margin-top: 0px;
    border: none;
    border-top: 1px solid black;
}

input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"]{
    cursor: pointer;
}

#empty-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    height: 50px;
    margin-bottom: 25px;
    border: 1px solid black;
}

#empty-container p{
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.entry-container{
    display: flex;
    flex-direction: row;
}

.entry-label{
    display: inline-block;
    width: 25%;
    font-weight: bold;
}

.entry-value{
    width: 75%;
}

@media screen and (min-width:1707px){
    #main-container{
        display: none;
    }
}

@media screen and (max-width: 1100px){
    #main-container{
        margin-top: 0px;
    }
}

@media screen and (max-width: 650px){
    .entry-container{
        display: flex;
        flex-direction: column;
    }
    
    .entry-label{
        width: 100%;
    }
    
    .entry-value{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    #main-container{
        width: 100%;
        margin-top: 0px;
    }
}