{% extends "main.html" %}

{% block content %}
<main>
    <form id="authentication-form" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div id="form-field">
                {{field.label}}<br/>
                {{field}}
            </div>
        {% endfor %}
        <input id="authentication-button" type="submit" value="Login"/>
        <div id="unregistered-user">
            <p>
                Don't have an account?
                <a href="{% url 'user:roles' %}">Sign up here</a>
            </p>
        </div>
    </form>
</main>
{% endblock %}