{% extends "main.html" %}
{% block content %}
<main>
    <div id="profile-container">
        <div id="prodile-user-username">
            Username: {{username}}
        </div>
        <div id="prodile-user-name">
            Name: {{first_name}} {{last_name}}
        </div>
        <div id="prodile-user-email">
            Email: {{email}}
        </div>
        <div id="prodile-user-phone-number">
            Phone Number: {{phone_number}}
        </div>
        {% if vendor %}
            <div id="prodile-user-business-name">
                Business Name: {{business_name}}
            </div>
            <div id="prodile-user-till-number">
                Till Number: {{till_number}}
            </div>
            <div id="edit-profile">
                <a href="{% url 'vendors:edit-profile' %}">Edit Profile</a>
            </div>
        {% else %}
            <div id="edit-profile">
                <a href="{% url 'customers:edit-profile' %}">Edit Profile</a>
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}