{% extends "fixed-content.html" %}
{% block content %}
<div id="profile-container" class="top-container">
    <div id="user-profile-details">
        <div class="entry-container">
            <label class="entry-label">Username:</label>
            <div class="entry-value">{{username}}</div>
        </div>
        <hr/><div class="entry-container">
            <label class="entry-label">Name:</label>
            <div class="entry-value">{{first_name}} {{last_name}}</div>
        </div>
        <hr/><div class="entry-container">
            <label class="entry-label">Email:</label>
            <div class="entry-value">{{email}}</div>
        </div>
        <hr/><div class="entry-container">
            <label class="entry-label">Phone Number:</label>
            <div class="entry-value">{{phone_number}}</div>
        </div>
        <hr/>
        {% if vendor %}
            <div class="entry-container">
                <label class="entry-label">Business Name:</label>
                <div class="entry-value">{{business_name}}</div>
            </div>
            <hr/><div class="entry-container">
                <label class="entry-label">Till Number:</label>
                <div class="entry-value">{{till_number}}</div>
            </div>
            <hr/>
        {% endif %}
    </div>
    <div id="profile-buttons-container">
        <button id="edit-profile-button" class="all-buttons">
            {% if vendor %}
                <a href="{% url 'vendors:edit-profile' %}">Edit Profile</a>
            {% else %}
                <a href="{% url 'customers:edit-profile' %}">Edit Profile</a>
            {% endif %}
        </button>
        <button id="profile-back-button" type="button" class="all-buttons">
            {% if vendor %}
                <a href="{% url 'products:my-shop' %}">Back</a>
            {% else %}
                <a href="{% url 'products:products' %}">Back</a>
            {% endif %}
        </button>
    </div>
</div>
{% endblock %}