{% extends "main.html" %}
{% block content %}
<main>
    <div id="receipts-container">
        {% for receipt,contents in all_receipts.items %}
            <div id="receipt-container">
                <div id="receipt-order-container">
                    <ul style="list-style-type: none;">
                        <li>Order: {{receipt.order.id}}</li>
                        <li>Product: {{receipt.order.product.name}}</li>
                        <li>Contents:
                            <ul>
                                {% for content in contents %}
                                    <li>{{content.name}}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>Type: {{receipt.order.price.type}}</li>
                        <li>Price: {{receipt.order.price.value}}</li>
                    </ul>
                </div>
                <div id="receipt-customer-container">
                Ordered By: {{receipt.customer.first_name}} {{receipt.customer.last_name}}
                </div>
                <div id="receipt-vendor-container">
                    Served By: {{receipt.vendor.first_name}} {{receipt.vendor.last_name}}
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}