{% extends "fixed-content.html" %}
{% block content %}
<div id="customer-registration-container" class="top-container">
    <form id="customer-registration-form" action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <div id="customer-registration-fields-container" class="fields-container">
            {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}<br/>
                    {{field}}
                </div>
            {% endfor %}
        </div>
        <div id="customer-registration-buttons-container" class="buttons-container">
            <input id="customer-registration-button" class="form-button all-buttons" type="submit" value="Register">
            <button id="customer-registration-back-button" type="button" class="all-buttons">
                <a href="{% url 'user:roles' %}">Back</a>
            </button>
        </div>
    </form>
</div>
{% endblock %}