{% extends "main.html" %}
{% block content %}
<div id="receipts-container" class="top-container">
    <div id="sort-container">
        <form id="sort-form" action="" method="GET">
            <div id="sort-form-fields-container">
                <select id="sort-form-period" name="sort-form-period">
                    <option value="all">All</option>
                    <option value="today">Today</option>
                    <option value="this-week">This Week</option>
                    <option value="this-month">This Month</option>
                    <option value="this-year">This Year</option>
                </select>
                {% if request.user.customer %}
                    <select id="sort-form-shop" name="sort-form-shop">
                        <option value="all">All</option>
                        {% for shop in shops %}
                            <option value="{{shop}}">{{shop}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
            <div id="sort-form-buttons-container">
                <input id="apply-filters" type="submit" value="Apply"/>
                <input id="clear-filters" type="reset" value="Clear"/>
            </div>
        </form>
    </div>
    {% for receipt in receipts %}
        <div id="receipt-order-container">
            <div class="entry-container">
                <label class="entry-label">Receipt:</label>
                <div class="entry-value">{{receipt.id}}</div>
            </div>
            <hr/>
            <div class="entry-container">
                <label class="entry-label">Date:</label>
                <div class="entry-value">{{receipt.created_on}}</div>
            </div>
            <hr/>
            <div class="entry-container">
                <label class="entry-label">Shop:</label>
                <div class="entry-value">{{receipt.shop}}</div>
            </div>
            <hr/>
            <div class="entry-container">
                <label class="entry-label">Product:</label>
                <div class="entry-value">{{receipt.product_name}}</div>
            </div>
            <hr/>
            <div class="entry-container">
                <label class="entry-label">Contents:</label>
                <div class="entry-value">
                    {% for content in receipt.contents %}
                        {{content}},
                    {% endfor %}
                </div>
            </div>
            <hr/>
            <div class="entry-container">
                <label class="entry-label">Type:</label>
                <div class="entry-value">{{receipt.product_type}}</div>
            </div>
            <hr/>
            <div class="entry-container">
                <label class="entry-label">Price:</label>
                <div class="entry-value">{{receipt.price}}</div>
            </div>
            <hr/>
            <div class="entry-container">
                <label class="entry-label">Ordered By:</label>
                <div class="">{{receipt.customer.first_name}} {{receipt.customer.last_name}}</div>
            </div>
            <hr/>
            <div class="entry-container">
                <label class="entry-label">Served By:</label>
                <div class="entry-value">{{receipt.vendor.first_name}} {{receipt.vendor.last_name}}</div>
            </div>
            <hr/>
        </div>
    {% empty %}
        <div id="empty-container">
            <p>There are no available receipts.</p>
        </div>
    {% endfor %}
    <div id="receipts-buttons-container">
        <button id="receipt-back-button" type="button">
            {% if request.user.sasapay_vendor or request.user.external_vendor %}
                <a href="{% url 'products:my-shop' %}">Back</a>
            {% else %}
                <a href="{% url 'products:products' %}">Back</a>
            {% endif %}
        </button>
    </div>
</div>
{% endblock %}