{% extends "main.html" %}
{% block content %}
<main>
    <div id="receipts-container">
        {% for receipt in receipts %}
            <div id="receipt-container">
                <div id="receipt-order-container">
                    <ul style="list-style-type: none;">
                        <li>Receipt: {{receipt.id}}</li>
                        <li>Product: {{receipt.product_name}}</li>
                        <li>Contents:
                            <ul>
                                {% for content in receipt.contents %}
                                    <li>{{content}}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>Type: {{receipt.product_type}}</li>
                        <li>Price: {{receipt.price}}</li>
                    </ul>
                </div>
                <div id="receipt-customer-container">
                Ordered By: {{receipt.customer.first_name}} {{receipt.customer.last_name}}
                </div>
                <div id="receipt-vendor-container">
                    Served By: {{receipt.vendor.first_name}} {{receipt.vendor.last_name}}
                </div>
            </div>
        {% empty %}
            <div id="empty-container">
                There are no available receipts.
            </div>
        {% endfor %}
        <div id="receipts-container-buttons">
            {% if request.user.sasapay_vendor or request.user.external_vendor %}
                <button id="back-button" type="button">
                    <a href="{% url 'products:my-shop' %}">Back</a>
                </button>
            {% else %}
            <div id="receipts-container-buttons">
                <button id="back-button" type="button">
                    <a href="{% url 'products:products' %}">Back</a>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}