{% extends "segmented-content.html" %}
{% block filter %}
{% include "sort.html" %}
{% endblock %}

{% block content %}
<div id="receipts-container" class="top-container">
    {% for receipt in page %}
        <div id="receipt-order-container">
            {% include "receipt.html" %}
            {% if current_day == receipt.created_on|date:"j" %}
                <div id="receipt-order-buttons-container">
                    <button id="add-feedback-button" class="all-buttons">
                        <a href="{% url 'feedbacks:add-feedback' receipt.id %}">
                            Give Your Feedback
                        </a>
                    </button>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <div class="empty-container">
            <p>There are no available receipts.</p>
        </div>
    {% endfor %}
    <div id="receipts-buttons-container">
        <button id="receipts-back-button" type="button" class="all-buttons">
            {% if request.user.sasapay_vendor or request.user.external_vendor %}
                <a href="{% url 'products:my-shop' %}">Back</a>
            {% else %}
                <a href="{% url 'products:products' %}">Back</a>
            {% endif %}
        </button>
    </div>
</div>
{% endblock %}

{% block pagination %}
{% include "pagination.html" %}
{% endblock %}