{% extends "core.html" %}
{% block general %}
    <div id="general-container">
        <div id="navigation-bar">
            {% include "navigation.html" %}
        </div>
        <div id="small-navigation-bar">
            {% include "small-navigation.html" %}
        </div>
        <div id="content-container">
            {% block content %}
            {% endblock %}
    
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}