{% extends "core.html" %}
{% block general %}
    <div id="general-container">
        <div id="navigation-bar">
            {% include "navigation.html" %}
        </div>
        <div id="small-navigation-bar">
            {% include "small-navigation.html" %}
        </div>
        <div id="content-container">
            {% block content %}
            {% endblock %}

            {% if messages %}
                <div id="error-messages-container">
                    {% for message in messages %}
                        <div id="error-message">
                            <p>{{message|linebreaksbr}}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}