<div id="navigation-bar">
    <div id="home-buttons">
        <button id="home-button">
            <a href="{% url 'home' %}">Home</a>
        </button>
    </div>
    {% if request.user.is_authenticated %}
        <div id="authenticated-user-buttons">
            <button id="profile-button">
                <a href="{% url 'user:profile' %}">Profile</a>
            </button>
            <button id="logout-button">
                <a href="{% url 'user:logout' %}">Logout</a>
            </button>
        </div>
        {% if request.user.customer %}
            <div id="customer-buttons">
                <button id="track-orders-button">
                    <a href="{% url 'customers:track-orders' %}">Track Orders</a>
                </button>
                <button id="orders-button">
                    <a href="{% url 'customers:receipts' %}">Receipts</a>
                </button>
            </div>
        {% elif request.user.external_vendor or request.user.sasapay_vendor %}
            <div id="vendors-buttons">
                <button id="orders-button">
                    <a href="{% url 'vendors:customer-orders' %}">Orders</a>
                </button>
                <button id="receipts-button">
                    <a href="{% url 'vendors:customer-receipts' %}">Receipts</a>
                </button>
            </div>
        {% endif %}
    {% else %}
        <div id="unauthenticated-user-buttons">
            <button id="login-button">
                <a href="{% url 'user:login' %}">Login</a>
            </button>
        </div>
    {% endif %}
</div>