<div id="small-home-buttons">
    <span class="material-symbols-outlined" id="small-home-button">
        <a href="{% url 'home' %}" class="exclude-format">home</a>
    </span>
</div>
{% if request.user.is_authenticated %}
    <div id="small-authenticated-user-buttons">
        <span class="material-symbols-outlined" id="small-profile-button">
            <a href="{% url 'user:profile' %}" class="exclude-format">person</a>
        </span>
    </div>
    {% if request.user.customer %}
        <div id="small-customer-buttons">
            <span class="material-symbols-outlined" id="small-track-orders-button">
                <a href="{% url 'customers:track-orders' %}" class="exclude-format">shopping_cart</a>
            </span>
            <span class="material-symbols-outlined" id="small-orders-button">
                <a href="{% url 'customers:receipts' %}" class="exclude-format">receipt</a>
            </span>
        </div>
    {% elif request.user.external_vendor or request.user.sasapay_vendor %}
        <div id="small-vendors-buttons">
            <span class="material-symbols-outlined" id="small-orders-button">
                <a href="{% url 'vendors:customer-orders' %}" class="exclude-format">shopping_cart</a>
            </span>
            <span class="material-symbols-outlined" id="small-receipts-button">
                <a href="{% url 'vendors:customer-receipts' %}" class="exclude-format">receipt</a>
            </span>
        </div>
    {% endif %}
{% endif %}
<div id="small-user-access-buttons">
    <span class="material-symbols-outlined" id="small-access-button">
        {% if request.user.is_authenticated %}
            <a href="{% url 'user:logout' %}" class="exclude-format">Logout</a>
        {% else %}
            <a href="{% url 'user:login' %}" class="exclude-format">Login</a>
        {% endif %}
    </span>
</div>