{% extends "main.html" %}
{% block content %}
<div id="add-new-product-container" class="top-container">
    <form id="add-new-product-form" action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <div id="add-new-product-feilds">
            <div id="new-product-name-container">
                <div class="form-group">
                    <label for="new-product-name">Name:</label><br/>
                    <input required id="new-product-name" name="product-name" type="text" placeholder="Enter Product Name"/>
                </div>
            </div>
            <div id="new-product-contents-container">
                <label for="new-product-contents">Contents:</label>
                <div id="new-product-contents">
                    <div id="new-product-content-0" class="new-product-content">
                        <div id="new-product-content-fields-0" class="new-product-content-fields">
                            <div class="form-group">
                                <input id="new-product-content-value" name="new-product-content-value" type="text" placeholder="Enter Content" required/>
                            </div>
                        </div>
                        <div id="new-product-content-buttons-0" class="new-product-content-buttons"></div>
                    </div>
                </div>
                <div id="new-product-contents-buttons-container">
                    <button id="new-product-content-button" onclick="AddContent('new-product-contents')" type="button">Add Content</button>
                </div>
            </div>
            <div id="new-product-prices-container">
                <div id="new-product-prices">
                    <div id="new-product-price-0" class="new-product-price">
                        <div id="new-product-price-fields-0" class="new-product-price-fields">
                            <div class="form-group">
                                <label for="new-product-price-type">Type: </label><br/>
                                <input id="new-product-price-type" name="new-product-price-type" type="text" placeholder="Enter Type" required/>
                            </div>
                            <div class="form-group">
                                <label for="new-product-price-value">Price: </label><br/>
                                <input id="new-product-price-value" name="new-product-price-value" type="number" placeholder="Enter Price" required/>
                            </div>
                        </div>
                        <div id="new-product-price-buttons-0" class="new-product-price-buttons"></div>
                    </div>
                </div>
                <div id="new-product-prices-buttons-container">
                    <button id="new-product-price-button" onclick="AddPrice('new-product-prices')" type="button">Add Price</button>
                </div>
            </div>
        </div>
        <div id="add-new-product-buttons-container">
            <input id="add-new-product-button" name="add-new-product-button" type="submit" value="Create Product">
            <button id="add-new-product-back-button" type="button">
                <a href="{% url 'products:my-shop' %}">Back</a>
            </button>
        </div>
    </form>
</div>
{% endblock %}