{% extends "main.html" %}
{% block content %}
<div id="edit-content-container" class="top-container">
    <form id="edit-content-form" action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <div id="edit-content-fields">
            <div class="form-group">
                <label for="edit-content-name">Content Name: </label>
                <input id="edit-content-name" name="edit-content-name" type="text" value="{{content.name}}" required/>
            </div>
        </div>
        <div id="edit-content-buttons-container">
            <input id="edit-content-button" name="edit-content-button" type="submit" value="Save Changes" class="all-buttons"/>
            <button id="edit-content-back-button" class="all-buttons">
                <a href="{% url 'products:my-shop' %}">
                    Back
                </a>
            </button>
        </div>
    </form>
</div>
{% endblock %}