{% extends "main.html" %}
{% block content %}
<main>
    <div id="edit-content-container">
        <form id="edit-content-form" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="edit-content-name">Content Name</label>
                <input id="edit-content-name" name="edit-content-name" type="text" value="{{content.name}}" required/>
            </div>
            <input id="edit-content-form-button" name="edit-content-form-button" type="submit" value="Save Changes"/>
        </form>
    </div>
</main>
{% endblock %}