{% extends "main.html" %}
{% block content %}
<main>
    <div id="edit-product-container">
        <form id="edit-product-form" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="edit-product-name">Product Name</label>
                <input id="edit-product-name" name="edit-product-name" type="text" value="{{product.name}}" required/>
            </div>
            <div class="form-group">
                <label for="product-contents-group">Contents</label>
                <div id="product-contents-group"></div>
                <button onclick="AddContent('product-contents-group')" type="button">Add Content</button>
            </div>
            
            <div class="form-group">
                <label for="product-prices-group">Prices</label>
                <div id="product-prices-group"></div>
                <button onclick="AddPrice('product-prices-group')" type="button">Add Price</button>
            </div>
            <input id="edit-product-form-button" name="edit-product-form-button" type="submit" value="Save Changes"/>
        </form>
    </div>
</main>
{% endblock %}