{% extends "main.html" %}
{% block content %}
<div id="my-shop-container" class="top-container">
    <div id="add-product-container">
        {% include "search.html" %}
        <button id="add-product-button" type="button" class="all-buttons">
            <a href="{% url 'products:add-product' %}">
                Add Product
            </a>
        </button>
    </div>
    {% for product,product_details in catalogue.items %}
        <div id="product-container">
            <div id="product-details-container">
                <h1 id="product-name">
                    {{product.name}}
                </h1>
                <div id="product-details-buttons-container">
                    <button id="edit-product-button" type="button" class="all-buttons">
                        <a href="{% url 'products:edit-product' product.id %}">Edit</a>
                    </button>
                    <button id="delete-product-button" type="button" class="all-buttons">
                        <a href="{% url 'products:delete-product' product.id %}">Delete</a>
                    </button>
                </div>
            </div>
            <form id="product-groups-container" method="POST" action="{% url 'products:edit-product-group' %}" autocomplete="off">
                {% csrf_token %}
                <div id="product-groups">
                    {% for product_detail in product_details %}
                        {% if forloop.first %}
                            <div id="product-contents-container">
                                <h2 id="product-contents-name">
                                    Contents
                                </h2>
                                <div id="product-contents">
                                    {% for content,value in product_detail.items %}
                                        <div id="product-content-container">
                                            <input id="{{value.id}}" name="product-group-values" type="radio" value="{{value.id}}" required/>
                                            <label for="{{value.id}}">{{value.name}}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div id="product-prices-container">
                                <h2 id="product-prices-name">
                                    Prices
                                </h2>
                                <div id="product-prices">
                                    {% for content,value in product_detail.items %}
                                        <div id="product-price-container">
                                            <input id="{{value.id}}" name="product-group-values" type="radio" value="{{value.id}}" required/>
                                            <label for="{{value.id}}">{{value.type}} - {{value.value}}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="product-groups-buttons-container">
                    <input id="edit-product-group-button" name="edit-product-group-button" type="submit" value="Edit" class="all-buttons"/>
                    <input id="delete-product-group-button" name="delete-product-group-button" type="submit" value="Delete" class="all-buttons"/>
                </div>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}