{% extends "main.html" %}
{% block content %}
<div id="products-catalogue-container" class="top-container">
    <div id="search-bar-container">
        <form id="search-bar" method="GET" action="" autocomplete="off">
            <label>
                <input id="search-query" name="search-query" type="text" placeholder="Search..."/>
            </label>
        </form>
    </div>
    <div id="catalogue-container">
        {% for product in products %}
            <div id="catalogue-product">
                <a href="{% url 'products:product-details' product.id %}">
                    <div id="display-product-name">
                        {{ product.name }}
                    </div>
                </a>
            </div>
        {% empty %}
            <div id="empty-container">
                <p>There are no available products.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}