{% extends "main.html" %}
{% block content %}
<div id="products-catalogue-container" class="top-container">
    <div id="search-bar-container">
        {% include "search.html" %}
    </div>
    <div id="catalogue-container">
        {% for product in products %}
            <div id="catalogue-product">
                <a href="{% url 'products:product-details' product.id %}">
                    <div id="display-product-name">
                        {{ product.name }}
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="empty-container">
                <p>There are no available products.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}