{% extends "main.html" %}
{% block content %}
<main>
    <div id="catalogue-products-container">
        {% for product in products %}
            <button id="catalogue-product" type="button">
                <a href="{% url 'products:product-details' product.id %}">
                    {{product.name}}
                </a>
            </button>
        {% empty %}
            <div id="empty-container">
                There are no available products.
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}